/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');


/* Global Properties */


body{
    background-color: #455FCD;
    position: relative;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.1rem;
}

h2 {
    font-size: 2.2rem;
}


h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.1rem;
    margin: auto 0;
}

i.fas {
    line-height: inherit;
    min-width: 20px;
}

footer {
    padding: 20px 50px;
    background-color: #455FCD;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer div a {
    color: #fff;
}

/* All page components */

.preloader-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background: rgb(60,81,172);
    background: linear-gradient(135deg, rgba(60,81,172,1) 0%, rgba(67,90,190,1) 35%, rgba(69,95,205,1) 100%);
    display: flex;
}

.preloader-wrapper {
    position: relative;
    z-index: 11;
    margin: auto;
}

.preloader-wrapper.big {
    width: 120px;
    height: 120px;
}

.spinner-blue, .spinner-blue-only {
    border-color: #51efd1;
}

.circle-clipper .circle {
    border-width: 10px;
}

.main {
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section.main-body {
    box-shadow: 0px -5px 12px -4px #3c3c3c;
    background-color: #efefef;
    flex: 1 1 auto;
}

.container {
    padding: 50px;
    max-width: 1920px;
    width: 100%;
}

.flashes {
    display: flex;
    position: fixed;
    top: 90px;
    width: 100%;
    z-index: 9;
}

.flash-msg {
    width: auto;
    max-width: 80%;
    background: #51efd1;
    box-shadow: 2px 3px 16px -3px #5f5f5f;
    padding: 20px;
    margin: auto;
    border-radius: 3px;
    position: relative;
    display: flex;
}

button.close-flash{
    border: 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.row, input{
    margin: 0;
}

.stacked-item {
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.card-stacked-item * {
    margin: auto;
}

.card-stacked-item {
    padding-bottom: 10px;
    justify-content: center;
    margin: auto;
}

.card-muted {
    box-shadow: none;
    border: 1px solid #d6d6d6;
}

.input-field {
    margin-top: 0.5rem;
}

.header-bg {
    background-image: url('../images/brand/ms3-bg-1920x540.png');
    min-height: 150px;
    position: fixed;
    height: 250px;
    width: 100vw;
    z-index: -1;
    top: 0;
}


.header-title-section {
    height: 250px;
    display: flex;
    padding-top: 50px;
}

.header-title-section h1 {
    font-weight: 600;
    color: #fff;
}

nav {
    background-color: transparent;
    box-shadow: none;
    transition: 0.5s ease-in-out;
}

nav.scrolled {
    background-color: #ef516f;
    box-shadow: 1px 1px 16px -5px #3e3e3e;
    height: 64px;
}

.mobile-nav {
    background-color: transparent!important;
    box-shadow: none!important;
}

.navbar-fixed {
    position: fixed;
    z-index: 9;
}

nav ul a {
    font-size: 1rem;
}

.title-feat {
    padding-bottom: 10px;
    border-bottom: 5px solid #51efd1;
    width: max-content;
    max-width: 100%;
}

.title-feat-bold {
    border: none;
    padding-bottom: 5px;
    font-weight: 600;
}   

h4.title-feat {
    padding-bottom: 7px;
    border-bottom: 3px solid #51efd1;
}

.p-feat {
    padding-bottom: 0px;
    border-bottom: 2px solid #ef516f;
}

.btn {
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.primary-btn {
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 10px 30px;
    height: min-content;
    font-weight: 400;
    background-color: #455FCD;
    border: 2px solid #455FCD;
    color: #fff;
}

.primary-btn.btn-green, .secondary-btn.btn-green {
    background-color: #51EFD1;
    border: 2px solid #51efd1;
    color: #2F48B0;
    
}

.secondary-btn {
    background-color: #455FCD;
    border: 2px solid #455FCD;
    color: #fff;
    text-transform: capitalize;
    height: min-content;
    padding: 5px 15px;
    font-size: 1.1rem;
}

.btn-line {
    border: 2px solid #FF3E63;
    color: #FF3E63;
    background-color: #fff;
}

.btn-line-blue {
    border: 2px solid #455FCD;
    color: #455FCD;
    background-color: #fff;
}

.btn-green-on-hover:hover {
    background-color: #51EFD1!important;
    color: #2F48B0!important;
    border: 2px solid #51EFD1!important;
}

.cta-btn {
    min-width: 50%;
}

.btn-slim {
    padding: 0px 15px;
}

.flex-grid-thirds {
    display: flex;
    flex-flow: wrap;
}

.flex-grid-thirds .col {
    flex: 1;
    margin: 5px;
    min-width: 300px;
}

.last-in-grid > .card-content {
    flex-direction: row;
    display: flex;
}

.last-in-grid > .card-action {
    justify-content: flex-end!important;
}

.last-in-grid > .card-content div {
    margin-left: 0;
    width: max-content;
}
.last-in-grid > .card-content > .card-info {
    flex-direction: column;
    width: -webkit-fill-available;
    margin-left: 20px;
}
.last-in-grid > .card-content > .card-info > p {
    text-align: left;
}

.sidebar-widget-title {
    padding-bottom: 10px;
    border-bottom: 5px solid #516fef;
    margin-bottom: 15px;
    max-width: max-content;
}

.no-results-card {
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    padding: 0px 30px;
}

.no-results-card div i {
    font-size: 100px;
    margin: auto;
}

.wrap-text {
    white-space: pre-wrap;
    word-break: normal;
}

input[type=text]:not(.browser-default).search-bar {
    background-color: #fff;
    padding: 5px 0px 5px 15px;
    border: 3px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 1px 1px 15px -8px #353535;
    display: flex;
    width: -webkit-fill-available;
    font-weight: 300;
    margin: 20px 0px;    
    transition: 0.3s ease-in-out;
}

input[type=text]:not(.browser-default).search-bar:focus {
    padding-left: 25px;
    border: 3px solid #51f1d3;
    border-bottom: 2px solid #51f1d3!important;
    box-shadow: 1px 1px 15px -5px #353535;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #455FCDb5;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #455FCD;
}

.search-bar-wrap {
    width: -webkit-fill-available;
}

.search-bar-btn-wrap {
    min-width: max-content;
}

/* Materialize components */
.modal {
    padding: 50px;
    width: 60%;
    max-height: 90%;
    border-radius: 5px;
}


.switch-label {
    font-size: 16px;
}

.col .row {
    margin: 0;
}

.chip {
    background-color: #fff;
    color: #FF3E63;
    border: 2px solid #FF3E63;
    line-height: 28px;
    margin: auto;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 5px;
}

/* Skill input selections */
li#select-options-2920bf48-c9ac-c6e1-c9a8-18c8e26aa51d1 {

}

.datepicker-modal { 
    padding: 0;
    width: auto;
}

.badge {
    padding: 5px 10px;
    background-color: #52f2d4;
    box-shadow: 1px 1px 10px -7px #777777;
    border-radius: 3px;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #2F48B0;
    border-bottom: 2px solid #2F48B0;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #2F48B0;
}

input[type=text]:not(.browser-default).hp-search-input {
    background-color: #fff;
    padding: 5px 0px 5px 15px;
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 1px 1px 15px -8px #353535;
    display: flex;
    position: relative;
    width: -webkit-fill-available;
    max-width: 800px;
    font-weight: 300;
    margin: 20px 0px;    
    transition: 0.3s ease-in-out;
}

input[type=text]:not(.browser-default).hp-search-input:focus {
    padding-left: 25px;
    border: 3px solid #51f1d3;
    box-shadow: 1px 1px 15px -5px #353535;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #51efd1;
    -webkit-box-shadow: 0 1px 0 0 #51efd1;
    box-shadow: 0 1px 0 0 #51efd1;
}

label.active,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #455FCD;
}

.btn:hover {
    background-color: #FF3E63;
    border: 2px solid #FF3E63;
    color: #131313;
    transform: translateY(-2px);
    box-shadow: 1px 1px 16px -5px #353535;;
}

nav .brand-logo {
    position: relative;
    height: 100%;
}

.brand-logo img {
    height: 100%;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    height: 64px;
}

input[type=text]:not(.browser-default):disabled {
    border: none;
    color: #777777;
}

.card.sidebar {
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
}

.card.sidebar > .card-content {
    padding: 15px;
}

.card.sidebar > .card-content > .card-img-wrapper {
    height: 100px;
    width: 100px;
}

/* Utils */
.m-top-40 {
    margin-top: 40px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-auto {
    margin:auto;
}

.my-auto {
    margin-top:auto;
    margin-bottom:auto;
}

.ml-auto {
    margin-left: auto;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.py-50 {
    padding: 50px 0px;
}

.py-20 {
    padding: 20px 0px;
}

.px-50 {
    padding: 0px 50px;
}

.pl-0 {
    padding-left: 0px;
}
.pr-0 {
    padding-right: 0px;
}

.pr-5 {
    padding-right: 5px;
}

.gutter-l {
    margin-left: 20px!important;
}

.gutter-r {
    margin-right: 20px!important;
}

.gutter-t {
    margin-top: 20px!important;
}

.gutter-b {
    margin-bottom: 20px!important;
}

.p-break {
    word-break: break-word;
    white-space: pre-wrap;
}

.v-center-align {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.txt-align-r {
    text-align: end;
}

.txt-align-c {
    text-align: center;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.inline-flex-gap {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

span.divide-pipe {
    margin: auto 15px;
}

.space-between {
    justify-content: space-between;
}

.pg-line-bk-green {
    width: 100%;
    border-bottom: 4px solid #51EFD1;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.pg-line-bk-blue {
    width: 100%;
    border-bottom: 4px solid #455FCD;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.pg-line-bk-grey {
    width: 100%;
    border-bottom: 4px solid #9e9e9e;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/* Home page */

.home-bg {
    background-image: url('../images/brand/ms3-bg-1920x1080.png');
    position: fixed;
    display: flex;
    min-width: 100vw;
    top: 0;
    height: 100vh;
    min-height: 100vh;
    z-index: -1;
    background-color: #4f6ae1;
}

.homepage-fs-slide {
    min-height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    scroll-snap-align: start;
}

#homepage_search_section {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
}

.homepage-fs-slide.fixed-bottom {
    bottom: 0!important;
    background-color: #efefef;
    box-shadow: 0px -1px 16px -3px #3e3e3e;
    margin-bottom: 25px;
}

.homepage-header{
    font-weight: 600;
    font-size: 3.7rem;
    color: #fff;
}

.emph-text {
    color: #51efd1;
    font-weight: 900;
}

#hp_user_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 470px;
    max-width: 480px;
    margin-left: 50px;
}

#hp_user_search {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hp-user-img {
    width: 150px;
    min-width: 150px;
    max-width: 29%;
    max-height: 150px;
    overflow: hidden;
    box-shadow: 1px 1px 16px -5px #777777;
    border-radius: 3px;
    margin: 5px;
    position: relative;
}
.hp-user-img > img {
    height: 100%;
    width: auto;
}

.hp-user-img-overlay {
    background-color: #f1d351f2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 150px;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #516ff1;
    font-weight: 600;
    padding: 10px;
    
}

.hp-user-img-overlay p {
    font-size: 1rem;
}

.hp-user-img:hover > .hp-user-img-overlay {
    top: 0px;
}

.snap-scroll-container {
    scroll-snap-type: y proximity;
    scroll-snap-points-y: repeat(100vh);
}

.snap-scroll-child {
    scroll-snap-align: start;
}

#hp_featured_projects {
    width: 80%;
    margin: auto;
}

.hp-project-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #777777;
    margin-bottom: 20px;
    border-radius: 5px;
}

.hp-project-row > .card-action{
    border-radius: 5px!important;
    min-width: max-content;
}

.hp-section-header {
    padding: 30px;
    margin: auto;
    margin-bottom: 0;
}

/* Login Page */
.login-section {
    width: 100%;
    height: fit-content;
    margin: auto;
}

.login-form {
    background-color: #fff;
    padding: 50px;
    min-width: 40%;
    margin-left: auto;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 16px -5px #3e3e3e;
}

/* Profile page */

.profile-img-wrapper {
    max-width: 200px;
    max-height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: 20px;
    box-shadow: 1px 1px 20px -5px #777777;
}

.card-img-wrapper {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 20px -5px #777777;
    margin: auto;
    margin-bottom: 15px;
}

.profile-image {
    width: 100%;
    height: auto;
}

.profile-content-wrapper {
    width: 100%;
}

/* Edit Profile Page */

#edit_profile_img_overlay {
    cursor: pointer;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #afafaf85;
}

#edit_profile_img_overlay > i {
    font-size: 60px;
    margin: auto;
    display: flex;
    color: #2d2d2d;
}

input#profile_img {
    display: none;
}

.helper-text-error {
    color: #bf0000;
}

.abs-bottom {
    position: absolute;
    bottom: -17px;
}

/* Project pages */

.project-card {
    border-radius: 10px;
    box-shadow: 1px 1px 15px -6px #777777;    
    padding: 10px;
}

.project-card > .card-content {
    padding: 15px;
}

.project-card > .card-action:last-child {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 15px 15px;
}

.project-card-btns {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 20px;
}
.project-card-btns > a {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0px 15px;
}

p.created-by {
    color: #777777;
    font-size: 1.1rem;
}

/* Freelancer pages */

.freelancer-card {
    padding: 0!important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.freelancer-card > .card-action {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-top: auto;
}

.freelancer-card > .card-content {
    padding-bottom: 0px;
}

/* Admin pages */
.admin-row {
    border-bottom: 1px solid #777777;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.admin-control-btns {
    justify-content: space-between;
}
.admin-control-btns a.btn {
    width: 32%;
}

.update-skill-form input.add-skill-input {
    background-color: #fff;
    box-shadow: 1px 1px 15px -8px #777777;
    padding-left: 10px;
    width: -webkit-fill-available;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: 0.3s ease-in-out;
}

.update-skill-form input.add-skill-input:focus {
    background-color: #fff;
    box-shadow: 1px 1px 16px -5px #777777;
    padding-left: 15px;
    border: 2px solid #51EFD1;
    border-bottom: 2px solid #51EFD1;
}

.input-missing-error {
    border: 2px solid #ff0000!important;
}

.input-missing-error:focus {
    border: 1px solid #000!important;
}

#empty_skill_inputs, #empty_role_inputs{
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    position: relative;
}

.add-to-list, .delete-from-list {
    margin: auto 0px 15px 25px;
    min-width: 49px;
}

.delete-from-list, .delete-from-list:focus {
    background-color: #ef516f;
}

.add-to-list, .add-to-list:focus {
    background-color: #516fef;
}

.user-table > tbody > tr > .table-item:last-of-type {
    text-align: center;
}


/* Custom breakpoints */
@media screen and (max-width: 280px){
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 370px){
    .flex-grid-thirds .col {
        min-width: auto;
    }
}

@media screen and (max-width: 540.01px){
    h1 {
        font-size: 2.7rem;
    }
    nav {
        max-height: 56px;
    }
    .card-action {
        flex-direction: column-reverse; 
    }

    .card-action > div p {
        margin: auto;
        text-align: center;
    }

    .project-card-btns {
        margin: auto;
        padding-bottom: 15px;
        justify-content: center;
    }

    .divide-pipe {
        display: none;
    }

    .primary-btn {
        padding: 5px 15px;
    }

    /* Homepage */

    .homepage-header {
        font-size: 2.2rem;
    }

    input[type=text]:not(.browser-default).hp-search-input {
        font-size: 1.2rem;
    }

    .hp-section-header {
        padding: 0px;
        padding-bottom: 20px;
    }

    #hp_featured_projects {
        width: 100%;
    }

    /* Profile */

    #profile_content, .profile-head-info {
        flex-direction: column;
        display: flex;
    }

    #profile_content div {
        margin: auto;
    }

    .profile-img-wrapper {
        margin: auto!important;
        margin-bottom: 20px!important;
    }

    form#edit_profile {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .container {
        padding: 30px;
    }

    .header-bg {
        background-size: 230%;
    }

    section.main-body {
    padding-bottom: 50px;
    }

    .hide-768 {
        display: none;
    }

    .flex-col-mobile {
        flex-direction: column;
    }

    .modal {
    padding: 0px;
    width: auto;
    max-width: 90%;
    max-height: 80%;
    }

    .home-bg {
        background-size: auto 100%;
        background-position-x: -300px;
    }

    .search-bar-btn-wrap {
        margin: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 0px!important;
    }

    .search-bar-btn-wrap button {
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
    #clear_search_btn {
        min-width: max-content;
        margin-left: 20px;
    }

    .admin-control-btns a.btn {
        width: 100%;
        margin-bottom: 5px;
    }

    .user-table {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }

    .user-table tbody tr {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        padding: 15px 0px;
    }
    .user-table tbody tr td {
        display: flex;
        padding: 0;
        width: 100%;
    }
    .user-table tbody tr td i {
        width: 10%;
        text-align: center;
    }

    .pg-line-bk-blue, .pg-line-bk-green, .pg-line-bk-grey {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    input[type=text]:not(.browser-default).search-bar {
        font-size: 1.2rem;
        padding: 3px 0px 3px 10px;
    }
    input[type=text]:not(.browser-default).search-bar:focus {
        padding-left: 15px;
    }
    .user-table>thead {
        display: none;
    }
    .add-to-list, .delete-from-list {
        margin: auto 0px 12px 10px;
    }
    .full-width-btn-mobile {
    width: 100%;
    }

    .hp-project-row > .card-action {
        padding-top: 0px;
        justify-content: flex-end;
    }

    /* Profile */
    .profile-img-wrapper {
        max-width: 150px;
        max-height: 150px;
        min-width: 130px;
        min-height: 130px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .profile-content-wrapper {
        margin-left: 0!important;
    }

    #edit_profile > div {
        flex-direction: column;
    }

    /* Navbar */
    nav .sidenav-trigger {
        margin: 0;
    }

    .nav-wrapper {
        padding: 0px 30px;
    }

    /* Footer */
    footer {
        padding: 10px 30px;
    }
    footer div {
        flex-direction: column-reverse;
        text-align: center;
    }
    footer > div > div:first-of-type {
        margin-top: 15px;
    }
    footer > div > div > p > a {
        padding-bottom: 3px;
        border-bottom: 2px solid #51EFD1;
    }

    .chip {
        line-height: 24px;
        height: 28px;
        font-size: 12px;
        margin-bottom: 5px;
    }

}

@media screen and (min-width:769px){
    .user-table tbody tr td i {
        display: none;
    }

    .wide-container {
        width: 85%!important;
    }
}

@media screen and (max-width:992px){
    .header-title-section {
        padding-top: 0px;
        height: max-content;
    }

    .hide-992 {
        display: none;
    }

    .full-width-tablet-down {
        width: 100%!important;
    }
}

@media screen and (max-width:1120px){
    #hp_user_images {
        display: none;
    }
}

@media screen and (min-width:1200px){
    .container.center-on-large {
        max-width: 75%;
    }
}


@media screen and (min-width:1600px){
    #hp_user_images {
        margin: 0px 100px;
    }
}