/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');


/* Global Properties */
h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.1rem;
}

h2 {
    font-size: 2.2rem;
}


h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.2rem;
    white-space: pre-wrap;
    margin: auto 0;
    word-break: break-word;
}


/* All page components */
section.main-body {
    box-shadow: 0px -5px 12px -4px #3c3c3c;
    background-color: #efefef;
}

.container {
    width: 100%;
    padding: 20px 50px;
    max-width: 1920px;
}

.flash-msg {
    width: 50%;
    background: #51efd1;
    box-shadow: 2px 3px 16px -3px #5f5f5f;
    padding: 20px;
    margin: 20px auto;
    border-radius: 3px;
    position: absolute;
    left: 25%;
}

button.close-flash{
    border: 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.row, input{
    margin: 0;
}

.stacked-item {
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.card-stacked-item * {
    margin: auto;
}

.card-stacked-item {
    padding-bottom: 10px;
    justify-content: center;
    margin: auto;
}

.input-field {
    margin-top: 0.5rem;
}

.header-bg {
    background-image: url('../images/brand/ms3-bg-1920x540.png');
    min-height: 150px;
    position: fixed;
    height: 250px;
    width: 100%;
    z-index: -1;
    top: 0;
}


.header-title-section {
    height: 180px;
    display: flex;
}

.header-title-section h1 {
    font-weight: 600;
    color: #fff;
}

nav {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
}

.title-feat {
    padding-bottom: 10px;
    border-bottom: 5px solid #52f2d4;
    width: max-content;
    max-width: 100%;
}
h4.title-feat {
    padding-bottom: 7px;
    border-bottom: 3px solid #52f2d4;
}

.primary-btn {
    background-color: #516fef;
    border-radius: 5px;
}

.secondary-btn {
    background-color: #ef516f;
    border-radius: 5px;
}

.flex-grid-thirds {
    display: flex;
    flex-flow: wrap;
}

.flex-grid-thirds .col {
    flex: 1;
    margin: 10px;
    min-width: 30%;
}

.sidebar-widget-title {
    padding: 10px 0px;
    border-bottom: 5px solid #516fef;
    margin-bottom: 15px;
    max-width: max-content;
}

.no-results-card {
    width: max-content;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    padding: 0px 30px;
}

.no-results-card div i {
    font-size: 100px;
    margin: 20px 0px 40px 0px;
}

/* Materialize components */
.modal {
    padding: 60px;
    width: 40%;
    max-height: 80%;
}

.switch-label {
    font-size: 16px;
}

.col .row {
    margin: 0;
}

.datepicker-modal { 
    padding: 0;
    width: auto;
}

.badge {
    padding: 5px 10px;
    background-color: #52f2d4;
    box-shadow: 1px 1px 10px -7px #777777;
    border-radius: 3px;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    box-shadow: 1px 1px 16px -5px #777777;
    border-bottom: 1px solid #000;
}

input[type=text]:not(.browser-default).hp-search-input {
    background-color: #fff;
    padding: 15px 0px 15px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 1px 1px 15px -8px #353535;
    display: flex;
    position: relative;
    width: -webkit-fill-available;
    font-weight: 300;
    margin: 20px 0px;    
}

/* Utils */
.m-top-40 {
    margin-top: 40px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-auto {
    margin:auto;
}

.ml-auto {
    margin-left: auto;
}

.p-top-50 {
    padding-top: 50px;
}

.py-50 {
    padding: 50px 0px;
}
.px-50 {
    padding: 0px 50px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-5 {
    padding-right: 5px;
}

.gutter-l {
    margin-left: 20px;
}

.gutter-r {
    margin-right: 20px!important;
}

.gutter-t {
    margin-top: 20px;
}

.gutter-b {
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
}

span.divide-pipe {
    margin: auto 15px;
}

.space-between {
    justify-content: space-between;
}

/* Home page */

.home-bg {
    background-image: url('../images/brand/ms3-bg-1920x1080.png');
    position: fixed;
    display: flex;
    min-width: 100vw;
    top: 0;
    height: 100vh;
    min-height: 100vh;
    z-index: -1;
}

.homepage-fs-slide {
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
}

#homepage_search_section {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
}

.homepage-fs-slide.fixed-bottom {
    bottom: 0!important;
}

.homepage-header{
    font-weight: 600;
    font-size: 3.7rem;
    color: #fff;
}

.emph-text {
    color: #51efd1;
    font-weight: 900;
}

#hp_user_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#hp_user_search {
    display: flex;
    flex-direction: column;
}

.hp-user-img {
    width: 150px;
    max-width: 29%;
    max-height: 150px;
    overflow: hidden;
    box-shadow: 1px 1px 16px -5px #777777;
    border-radius: 3px;
    margin: 5px;
    position: relative;
}
.hp-user-img > img {
    height: 100%;
    width: auto;
}

.hp-user-img-overlay {
    background-color: #f1d351f2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 150px;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #516ff1;
    font-weight: 600;
}

.hp-user-img:hover > .hp-user-img-overlay {
    top: 0px;
}

/* Profile page */

.profile-img-wrapper {
    max-width: 220px;
    max-height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 20px -5px #777777;
}

.card-img-wrapper {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 20px -5px #777777;
    margin: auto;
    margin-bottom: 15px;
}

.profile-image {
    width: 100%;
    height: auto;
}

.profile-content-wrapper {
    width: 100%;
}

/* Edit Profile Page */

#edit_profile_img_overlay {
    cursor: pointer;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #afafaf85;
}

#edit_profile_img_overlay > i {
    font-size: 60px;
    margin: auto;
    display: flex;
    color: #2d2d2d;
}

input#profile_img {
    display: none;
}

.helper-text-error {
    color: #bf0000;
}

/* Project pages */

.project-card {
    border-radius: 10px;
    box-shadow: 1px 1px 15px -6px #777777;    
}

.project-card > .card-action:last-child {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: flex-end;
}

p.created-by {
    color: #777777;
    font-size: 1.1rem;
}

/* Freelancer pages */

.freelancer-card > .card-action:last-child {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
}

/* Admin pages */
.admin-row {
    border-bottom: 1px solid #777777;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.update-skill-form input.add-skill-input {
    background-color: #fff;
    box-shadow: 1px 1px 15px -8px #777777;
    padding-left: 10px;
    width: -webkit-fill-available;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.3s ease-in-out;
}

.update-skill-form input.add-skill-input:focus {
    background-color: #fff;
    box-shadow: 1px 1px 16px -5px #777777;
    padding-left: 15px;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
}

.input-missing-error {
    border: 2px solid #ff0000!important;
}

.input-missing-error:focus {
    border: 1px solid #000!important;
}

#empty_skill_inputs, #empty_role_inputs{
    display: flex;
    width: -webkit-fill-available;
}

.add-to-list, .delete-from-list {
    margin: 8px 0px auto 25px;
    min-width: 49px;
}

.delete-from-list, .delete-from-list:focus {
    background-color: #ef516f;
}

.add-to-list, .add-to-list:focus {
    background-color: #516fef;
}
