{% block widget %}

<h3 class="sidebar-widget-title">Recommended Projects</h3>

<!-- w_project.role == info.role -->
{% for w_project in projects if w_project.role == info.role %}
    {% if loop.index <= 3 %}

    <div class="card sidebar">
        <div class="card-content">
            <!-- Title -->
            <div class="stacked-item">
                <h4 class="title-feat">{{ w_project.title }}</h4>
            </div>
            <!-- Role & Location -->
            <div class="row d-flex stacked-item">
                <p class="gutter-r"><i class="fas fa-user pr-5"></i> {{ w_project.role }}</p>
                <p><i class="fas fa-map-marker-alt pr-5"></i> {{ w_project.location }}</p>
            </div>
            <!-- Skills -->
            <div class="row d-flex stacked-item">
                {% for skill in w_project.skills %}
                <div class="chip">{{skill}}</div>
                {% endfor %}
            </div>
            <!-- Card footer -->
            <a href="{{url_for('view_project', project_id=w_project.slug)}}" class="btn primary-btn">View Project</a>
        </div>
    </div>
    {% endif %}

<!-- Show a no results card if no results -->
{% else %}

<div class="card freelancer-card col sidebar card-muted">
    <div class="card-content">
        <p class="gutter-b">Looks like we couldn't find any suitable Opportunities. Discover more by clicking below!
        </p>
        <a href="{{url_for('get_projects')}}" class="btn secondary-btn btn-line-blue m-auto">Search Opportunities</a>
    </div>
</div>

{%endfor %}

{% endblock %}