{% block admin_skills %}




<div class="admin-row-skills">

    <form action="{{ url_for('admin_update_skills') }}" method="POST" class="update-skill-form">

        {% for skill in skills%}
        <div class="d-flex space-between">
            <input type="text" name="add_skill[]" value="{{skill.skill_name}}" class="add-skill-input">
            <div><a href="{{ url_for('delete_skill', id=skill.skill_name) }}" class="btn delete-item"><i class="fas fa-times"></i></a></div>
        </div>
        {%endfor %}
        <div class="d-flex space-between">
            <input type="text" name="add_skill[]" class="add-skill-input">
            <button type="submit">submit</button>
        </div>
    </form>
</div>




{% endblock %}