{% block admin_users %}


<div id="admin_users" class="tab">

    {% if users is defined %}
    <!-- Search bar section -->
        <form method="POST" class="col s12" action="{{ url_for('admin_search_freelancers')}}">
            <h3><strong>Search all users</strong></h3>
            <div class="row valign-wrapper center-align d-flex flex-col-mobile">
                <div class="search-bar-wrap">
                    <input type="text" name="query" id="query" minlength="3" class="validate search-bar"
                        value="{{ query }}" placeholder="Search by keyword or skill">
                </div>
                <div class="search-bar-btn-wrap gutter-l">
                    <button class="btn secondary-btn btn-green-on-hover">
                        <i class="fas fa-search pr-5"></i> Search
                    </button>
                    <a id="clear_search_btn" href="{{ url_for('admin_users')}}"
                        class="btn secondary-btn btn-line">Clear</a>
                </div>
            </div>
        </form>
        <!-- End search bar section -->
{% endif %}
{% for user in users%}

<div class="admin-row">
    <!-- First column -->
    <div>
        <!-- Title -->
        <div class="stacked-item">
            <h4 class="title-feat">{{ user.first_name }} {{ user.last_name }}</h4>
        </div>
        <!-- Role & Location -->
        <div class="row d-flex stacked-item">
            <p class="gutter-r"><i class="fas fa-user pr-5"></i> {{ user.role }}</p>
            <p><i class="fas fa-map-marker-alt pr-5"></i> {{ user.location }}</p>
        </div>
        <!-- Skills -->
        <div class="row d-flex stacked-item">
            {% for skill in user.skills %}
            <div class="chip">{{skill}}</div>
            {% endfor %}
        </div>
    </div>
    <!-- Second column -->
    <div class="user-hidden-switch">
        <form action="{{url_for('admin_update_user', uid=user.name_slug)}}" method="POST" class="hide-user-form">
        <div class="switch">
            <label>
                Hidden
                {% if user.is_hidden == True %}
                <input type="checkbox" class="admin-hide-switch">
                {% else %}
                <input type="checkbox" checked="checked" class="admin-hide-switch">
                {% endif %}
                <span class="lever"></span>
                Visible
            </label>
        </div>
        
        </form>
    </div>
</div>
{%endfor %}
</div>

{% endblock %}