{% extends "base.html" %}
{% block title %}Add a Project{% endblock %}
{% block content %}

<header class="header-title-section">
    <div class="header-bg"></div>
    <div class="container m-auto wide-container">
        <h1>Add a Project</h1>
    </div>
</header>

<section class="main-body">
    <div class="container wide-container">
        <p class="gutter-b">Complete the details below to list a new project on the Opportunities page. By doing so,
            other users will be
            able to send you an email to let you know of their interest. Your profile name will also be shown on the
            project for other users to see.</p>
        <div class="row s12">
            <form id="add_project" action="{{ url_for('add_project') }}" method="POST">
                <div class="d-flex s12 m-auto">
                    <div class="profile-content-wrapper">
                        <div class="row">
                            <!-- Title input -->
                            <div class="input-field s12">
                                <label for="title">Project Title</label>
                                <input type="text" id="title" name="title" class="validation"
                                    pattern="[A-Za-zÀ-ž!.\s,]{1,}" minlength="5" maxlength="100">
                            </div>
                        </div>
                        <div class="row">
                            <!-- Start date input -->
                            <div class="input-field s12 m6">
                                <label for="start_date">Project Start Date</label>
                                <input type="text" id="start_date" name="start_date" class="datepicker validation"
                                    required>
                            </div>
                            <!-- End date input -->
                            <div class="input-field s12 m6">
                                <label for="end_date">Project End Date</label>
                                <input type="text" id="end_date" name="end_date" class="datepicker validation" required>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Location input -->
                            <div class="input-field s12 m6">
                                <label for="location">Location</label>
                                <input type="text" id="location" name="location" class="validation" required
                                    pattern="[A-Za-zÀ-ž\s,]{1,}" minlength="5" maxlength="30">
                            </div>
                            <!-- Role input -->
                            <div class="input-field s12 m6" id="role_dropdown">
                                <select id="role" name="role">
                                    <option value="" disabled selected>Select required role</option>
                                    {% for role in roles %}
                                    <option value="{{ role.role_name }}">{{ role.role_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="role" class="sr-only"></label>
                                <label >Required Role</label>
                                <span class="helper-text">Which role are you looking for with this project?</span>
                                <span class="helper-text-error hide" id="helper_error_role">Please select a role
                                    before continuing!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-about-wrapper">
                    <div class="row">
                        <!-- Skills input -->
                        <div class="input-field s12" id="skills_dropdown">
                            <select id="skills" name="skills[]" multiple required>
                                <option value="" disabled>Select required skills</option>
                                {% for skill in skills %}
                                <option value="{{ skill.skill_name }}">{{ skill.skill_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="skills" class="sr-only"></label>
                            <label>Which skills are you looking for?</label>
                            <span class="helper-text-error hide" id="helper_error_skill">Please select at least one
                                skill before continuing!</span>
                        </div>
                    </div>

                    <!-- Description input -->
                    <div class="row">
                        <div class="input-field s12">
                            <textarea id="description" name="description" class="materialize-textarea"
                                required></textarea>
                            <label for="description">Project Description</label>
                            <span class="helper-text">Explain a little more about the project, company and the
                                team.</span>
                        </div>
                    </div>
                </div>

                <!-- Initial update button (inits modal for second confirmation) -->
                <a id="update_profile_button_init" href="#confirm_update" class="btn modal-trigger secondary-btn"
                    onclick="validateDropdown();">Add new project</a>

                <div class="modal" id="confirm_update">
                    <div class="modal-content">
                        <h2>Are you sure?</h2>
                        <p class="py-20">Whilst your email will remain hidden, adding this project will allow users to
                            email you via the contact form, and see your name on the Project posting.</p>
                        <button class="btn confirm-update-btn secondary-btn btn-slim" type="submit">Add project</button>
                        <a class="btn cancel-btn modal-close secondary-btn btn-line btn-slim">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}