{% extends "base.html" %}
{% block title %}Freelancers{% endblock %}
{% block content %}

<header class="header-title-section">
    <div class="header-bg"></div>
    <div class="container center-on-large m-auto">
        <h1>Freelancers</h1>
    </div>
</header>

<section class="main-body">
    <div class="container center-on-large wide-container">
        <!-- Search bar section -->
        <form method="POST" class="col s12" action="{{ url_for('search_freelancers')}}">
            <h2><strong>Search for relevant Freelancers</strong></h2>
            <div class="row valign-wrapper center-align d-flex flex-col-mobile">
                <div class="search-bar-wrap">
                    <input type="text" name="query" id="query" minlength="3" class="validate search-bar"
                        pattern="[A-Za-z0-9\s]{1,}" value="{{ query }}" placeholder="Search by keyword or skill">
                    <label for="query" class="sr-only">Search Freelancers</label>
                </div>
                <div class="search-bar-btn-wrap gutter-l">
                    <button class="btn secondary-btn btn-green-on-hover">
                        <i class="fas fa-search pr-5"></i> Search
                    </button>
                    <a id="clear_search_btn" href="{{ url_for('get_freelancers')}}"
                        class="btn secondary-btn btn-line">Clear</a>
                </div>
            </div>
        </form>
        <!-- End search bar section -->

        <!-- Show no results if search returns 0 -->
        {% if results == 0 %}
        <div class="card no-results-card col card-muted">
            <div class="card-content">
                <i class="fas fa-search"></i>
                <p>Looks like we couldn't find any suitable Freelancers. <br>Reset your search and try again!
                </p>
                <a href="{{url_for('get_freelancers')}}" class="btn primary-btn gutter-t">Search Freelancers</a>
            </div>
        </div>
        {% else %}
        <h2 class="py-20 gutter-t"><strong>Current Freelancers</strong></h2>
        <div class="row s12 flex-grid-thirds">

            <!-- Show freelancer loop if search > 0 or no search query  -->
            {% for freelancer in freelancers %}
            <!-- Freelancer card -->
            <div class="card col freelancer-card">
                <div class="card-content">
                    <div class="card-img-wrapper">
                        <img onload="resizeImage(this);" class="profile-image loop" id="prf_img_{{loop.index}}"
                            src="{{ freelancer.profile_image or url_for('static', filename='/images/user_uploads/default_avatar.png')}}"
                            alt="{{ freelancer.first_name }}">
                    </div>
                    <div class="card-info">
                        <div class="card-stacked-item">
                            <h3 class="title-feat">{{ freelancer.first_name }} {{ freelancer.last_name }}</h3>
                        </div>
                        <div class="row card-stacked-item inline-flex-gap m-auto">
                            <p class="pr-5"><i class="fas fa-user"></i>{{ freelancer.role }}</p>
                            <p class="pr-5"><i class="fas fa-map-marker-alt"></i>{{ freelancer.location|capitalize }}
                            </p>
                        </div>
                        <!-- Skills -->
                        <div class="row card-stacked-item inline-flex-gap">
                            {% for skill in freelancer.skills %}
                            {% if loop.index <= 6 %}
                            <div class="chip">{{skill}}</div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <p class="card-stacked-item center-align">{{ freelancer.about|truncate(100, False, '...') }}</p>
                    </div>
                </div>
                <div class="card-action inline-flex-gap">
                    <a href="{{ url_for('profile', name=freelancer.name_slug) }}"
                        class="btn secondary-btn btn-slim btn-line-blue">View More</a>
                    {% if freelancer.name_slug != session['user']['name_slug']%}
                    <a href="#contact_modal_{{loop.index}}" class="btn secondary-btn btn-slim modal-trigger">Send
                        Email</a>
                    {% endif %}
                </div>

                <div class="modal" id="contact_modal_{{loop.index}}">
                    <div class="modal-content">
                        <h3>Send {{freelancer.first_name}} an email.</h3>
                        <p>Your message will be sent to their email inbox, allowing them to reply back to you directly.
                        </p>
                        <form id="contact_form_{{loop.index}}" method="POST"
                            action="{{ url_for('send_mail', slug=freelancer.uid) }}">
                            <!-- Hidden sender fields  -->
                            <input type="hidden" name="from_name" id="from_name_{{loop.index}}" value="{{ s_name }}">
                            <input type="hidden" name="to_name" id="to_name_{{loop.index}}"
                                value="{{freelancer.first_name}}">
                            <div class="row pt-20">
                                <div class="input-field s12">
                                    <input type="email" name="reply_to" id="reply_to_{{loop.index}}"
                                        value="{{ s_email }}" required>
                                    <label for="reply_to_{{loop.index}}">Your Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field s12">
                                    <textarea name="body" id="body_{{loop.index}}" class="materialize-textarea validate"
                                        maxlength="850" data-length="850" required></textarea>
                                    <label for="body_{{loop.index}}">Your Message</label>
                                </div>
                            </div>
                            <div class="row">

                                <label>
                                    <span class="input-field s12">
                                        <input type="checkbox" name="confirm_data" id="confirm_data_{{loop.index}}"
                                            class="validate" required>
                                        <span>By sending this message, I understand that my email address will be
                                            provided to
                                            {{freelancer.first_name}} for them to send me a direct reply.</span>
                                    </span>
                                </label>

                            </div>
                            <div class="row">
                                <div class="input-field s12 gutter-t center-align">
                                    <button type="submit"
                                        class="btn secondary-btn btn-slim btn-green-on-hover cta-btn">Send
                                        Email</button>
                                    <button type="button"
                                        class="btn secondary-btn btn-slim btn-line modal-close">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}