<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
{% block styles %}
{% endblock %}
    
</head>

<body>
    <div class="navbar-fixed hide-on-med-and-down">
    <nav class="">
        <!-- Desktop -->
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">
                <img src="{{url_for('static', filename='images/brand/ep-search-white.png')}}" alt="EventProf Search Logo white">
            </a>
            <ul id="nav-desktop" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a href="{{ url_for('get_freelancers') }}">Freelancers</a></li>
                <li><a href="{{ url_for('get_projects') }}">Project Opportunities</a></li>
                <li><a href="{{ url_for('add_project') }}">Add a Project</a></li>
                <li><a class="modal-trigger" href="#modal-register">Register</a></li>
                <li><a class="modal-trigger" href="#modal-login">Login</a></li>
                <li><a href="{{ url_for('admin_home') }}">Admin</a></li>
                <li><a href="{{ url_for('profile', name=session['user']) }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
    <nav class="hide-on-med-and-up mobile-nav">
        <div class="nav-wrapper">
            <!-- Mobile -->
            <a href="#" class="brand-logo left">
                <img src="{{url_for('static', filename='images/brand/ep-search-white.png')}}" alt="EventProf Search Logo white">
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger hide-on-large-and-up right"><i
                    class="fas fa-bars"></i></a>
            <ul id="mobile-nav" class="sidenav">
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a href="{{ url_for('get_freelancers') }}">Freelancers</a></li>
                <li><a href="{{ url_for('get_projects') }}">Project Opportunities</a></li>
                <li><a href="{{ url_for('add_project') }}">Add a Project</a></li>
                <li><a class="modal-trigger" href="#modal-register">Register</a></li>
                <li><a class="modal-trigger" href="#modal-login">Login</a></li>
                <li><a href="{{ url_for('admin_home') }}">Admin</a></li>
                <li><a href="{{ url_for('profile', name=session['user']) }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- Register modal -->
    <div id="modal-register" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Register Account</h4>
            <form id="register_form_modal" action="{{ url_for('register') }}" method="POST" class="col s12">
                <!-- Name inputs -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="first_name" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <!-- Email input -->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" id="email" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <!-- Password input -->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password" name="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- User type input -->
                <h6 class="center-align">Account Type</h6>
                <div class="switch center-align">
                    <label class="switch-label">
                        Freelancer
                        <input type="checkbox" id="user_type" name="user_type">
                        <span class="lever"></span>
                        Project Owner
                    </label>
                </div>
                <div class="row center-align m-top-40">
                    <button type="submit" class="btn-large">Create Account</button>
                </div>
            </form>
        </div>

    </div>

    <!-- Login modal -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Login</h4>
            <form id="login_form_modal" action="{{ url_for('login') }}" method="POST" class="col s12">

                <!-- Email input -->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" id="email_lg" name="email_lg" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <!-- Password input -->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password_lg" name="password_lg" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="row center-align m-top-40">
                    <button type="submit" class="btn-large">Login</button>
                </div>
            </form>
        </div>
    </div>




    <!-- Flash messages -->
    <div class="flashes">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
            <div class="flash-msg">
                {{ message }}
                <button type="button" class="close-flash right" data-dismiss="alert"><i class="fas fa-times"></i></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <!-- Main content -->
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->

    <footer>
    <div class="d-flex space-between">
        <div>
        <p>EventProf Search 2021 &copy;</p>
        </div>
        <div class="d-flex space-between">
            <p>
        <a href="#">About</a>
        <a href="#" class="gutter-l gutter-r">Privacy</a>
        <a href="#">Contact</a>
        </p>
        </div>
    </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>