<html>

<body>
    <p>Hi there {{to_name}},<br>
        You have a new message from {{name}}:</p>
    <blockquote
        style="width:max-content; font-style: italic; padding: 10px 20px; background-color: #e8e8e8; margin: 5px;">
        {{message}}</blockquote>
    <p>Your email has not been shared at this point, but if you wish to keep the conversation going, simply reply to
        this email to respond directly to {{name}}.</p>
    <p>Until next time, <br><br>Best Wishes<br>EventProf Search
    </p>

</body>

</html>