{% extends "base.html" %}
{% block title %}Edit My Profile{% endblock %}
{% block content %}

<header>
    <div class="container">
        <h1>Edit My Profile</h1>
    </div>
</header>



<section class="main-body">
    <div class="container">
        <div class="row s12">
            {% for info in data %}
            <div class="col s8 d-flex">
                <form class="" action="{{ url_for('edit_profile', name=info.first_name+'_'+info.last_name) }}"
                    method="POST" enctype="multipart/form-data">
                    <div class="profile-img-wrapper">
                        <input type="file" id="profile_img" name="profile_img" onchange="previewImg(this);">
                        <img class="profile-image"
                            src="/static/images/user_uploads/{{ info.profile_image or 'default_avatar.png'}}" alt="">
                    </div>
                    <div class="profile-content-wrapper">
                        <div class="row">
                            <!-- First name input -->
                            <div class="input-field col s6">
                                <label for="first_name">First Name</label>
                                <input type="text" id="first_name" name="first_name" value="{{ info.first_name }}"
                                    class="validation" required>
                            </div>

                            <!-- Last name input -->
                            <div class="input-field col s6">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="last_name" name="last_name" value="{{ info.last_name }}"
                                    class="validation" required>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Rate input -->
                            <div class="input-field col s6">
                                <label for="rate">Rate</label>
                                <input type="text" id="rate" name="rate" value="{{ info.rate }}" class="validation"
                                    required>
                            </div>

                            <!-- Location input -->
                            <div class="input-field col s6">
                                <label for="location">Location</label>
                                <input type="text" id="location" name="location" value="{{ info.location }}"
                                    class="validation" required>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Role input -->
                            <div class="input-field col s12" id="role_dropdown">
                                <select id="role" name="role">
                                    <option value="" disabled>Choose your role</option>
                                    {% for role in roles %}
                                        {%if role.role_name in info.role %}
                                            <option value="{{ role.role_name }}" selected>{{ role.role_name }}</option>
                                        {% else %}
                                            <option value="{{ role.role_name }}">{{ role.role_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>My Role</label>
                                <span class="helper-text">Which title best describes your day to day work?</span>
                                <span class="helper-text-error hide" id="helper_error_role">Please select a role before continuing!</span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Skills input -->
                            <div class="input-field col s12" id="skills_dropdown">
                                <select id="skills" name="skills[]" multiple required>
                                    <option value="" disabled>Select your skills</option>
                                    {% for skill in skills %}
                                        {%if skill.skill_name in info.skills %}
                                            <option value="{{ skill.skill_name }}" selected>{{ skill.skill_name }}</option>
                                        {% else %}
                                            <option value="{{ skill.skill_name }}">{{ skill.skill_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>My Skills</label>
                                <span class="helper-text-error hide" id="helper_error_skill">Please select at least one skill before continuing!</span>

                            </div>
                        </div>
                        <p>{{ info.location or "update location"}}</p>
                    </div>
                    <div class="profile-about-wrapper">
                        <p>{{ info.about}}</p>
                    </div>
                    <button id="update_profile_button_init" href="#confirm_update" class="modal-trigger" onclick="validateDropdown();">Update Profile</button>
                    <!-- <button id="update_profile_button_init" type="submit">Update Profile</button> -->
                    <div class="modal" id="confirm_update">
                        <div class="modal-content">
                            <button class="btn confirm-update-btn" type="submit">Update Profile</button>
                            <a class="btn cancel-btn modal-close">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
            <!-- Nearby projects widget -->
            <div class="col s4">

            </div>
        </div>
    </div>

</section>

{% endblock %}