{% extends "base.html" %}

{% block content %}

<div class="home-bg"></div>

<div class="snap-scroll-container">
    <section class="snap-scroll-child">
        <div class="homepage-fs-slide">
            <div id="homepage_search_section" class="container s12">
                <div class="d-flex">
                    <div class="col" id="hp_user_search">
                        <h1 class="homepage-header">Discover <span class="emph-text">Freelance Talent</span> for your
                            Event
                            Projects</h1>
                        <form>
                            <input type="text" id="homepage_search" class="hp-search-input"
                                placeholder="Search for freelancers by role, location, skill">
                            <button type="submit" class="btn btn-large primary-btn btn-green">Search Freelancers</button>
                        </form>
                    </div>
                    <div class="col" id="hp_user_images">
                        <!-- Data imports from JSON -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="snap-scroll-child">
        <div class="homepage-fs-slide fixed-bottom flex-col">
            <div class="container">
            <h2 class="hp-section-header title-feat gutter-b">A few of our recent Project Opportunities</h2>
            <div id="hp_featured_projects" class="col">
                {% for project in projects %}
                <div class="card hp-project-row d-flex flex-col-mobile">
                    <div class="card-content">
                        <div class="stacked-item">
                            <h3 class="title-feat-bold">{{ project.title }}</h3>
                        </div>
                        <div class="row d-flex stacked-item flex-wrap">
                            <p class="gutter-r"><i class="fas fa-user pr-5"></i> {{ project.role }}</p>
                            <p class="gutter-r"><i class="fas fa-map-marker-alt pr-5"></i> {{ project.location }}</p>
                            <p><i class="fas fa-calendar-alt pr-5"></i> {{ project.start_date }} -
                                {{ project.end_date }}
                            </p>
                        </div>
                        <p>{{ project.description|truncate(200, False, '...') }}</p>
                    </div>
                    <div class="card-action d-flex">
                        <a href="{{ url_for('view_project', project_id=project.slug) }}"
                            class="btn secondary-btn my-auto">View More</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        
</div>
</section>
</div>
{% endblock %}