{% extends "base.html" %}

{% block content %}

<div class="home-bg"></div>

<div class="homepage-fs-slide">
    <div id="homepage_search_section" class="container s12">
        <div class="d-flex">
            <div class="col" id="hp_user_search">
                <h1 class="homepage-header">Discover <span class="emph-text">Freelance Talent</span> for your Event
                    Projects</h1>
                <form>
                    <input type="text" id="homepage_search" class="hp-search-input"
                        placeholder="Search for freelancers by role, location, skill">
                    <button type="submit" class="btn btn-large secondary-btn">Search Freelancers</button>
                </form>
            </div>
            <div class="col" id="hp_user_images">
                <!-- Data imports from JSON -->
            </div>
        </div>
    </div>
</div>
<div class="homepage-fs-slide fixed-bottom">

</div>
{% endblock %}