{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}


<header class="header-title-section">
    <div class="header-bg"></div>
    <div class="container m-auto center-on-large">
        <h1>Privacy</h1>
    </div>
</header>

<section class="main-body">
    <div class="container p-top-50 center-on-large">
        <div class="row s12">

            <div class="col s12">
                <h3><strong>Privacy on this site</strong></h3>
                <p class="gutter-b">This website is solely for demonstration purposes. Whilst users are able to provide
                    their details
                    during registration or editing their profile, there is no requirement that this data is accurate.
                    Users must not however, upload any data or images of other, 'real' people e.g users must not enter
                    an active email of others, without their prior consent.
                    <br><br> If it is found that a user does not genuinely own an active email that has been
                    registered, the email owner will be notified and the profile on EventProf Search permanently deleted
                </p>
                <h3 class="gutter-t"><strong>Data we collect</strong></h3>
                <p>Data is only collected on this site for the purposes of site demonstration and account creation.
                    Whilst true data is not required, we ask for the following sensitive information upon account
                    creation:</p>
                <ul class="gutter-l bullet-list">
                    <li>
                        <p>Email address</p>
                    </li>
                    <li>
                        <p>Name</p>
                    </li>
                    <li>
                        <p>Location</p>
                    </li>
                    <li>
                        <p>Profile Image</p>
                    </li>
                </ul>
                <p class="gutter-b">With the exception of Email, all data is used to display on your profile for other
                    users to see. Your
                    email is used for the creation of the account, and as the 'reply to' email when you send users an
                    email via the 'contact' button. Your email will remain hidden to users who send you a message via
                    this function, unless you reply directly to them.<br><br>You cannot update your email address, but
                    can request that it be changed by <a href="mailto:bradleyh.cooney@gmail.com">emailing the site
                        owner</a>.</p>
                <h3 class="gutter-t"><strong>Session data</strong></h3>
                <p>When you login or register, we generate a new browser session containing only the details required to
                    deliver the site functionality to you. This includes:</p>
                <ul class="gutter-l bullet-list">
                    <li>
                        <p>User slug (your first and last name merged)</p>
                    </li>
                    <li>
                        <p>Your user type</p>
                    </li>
                    <li>
                        <p>Your admin status</p>
                    </li>
                </ul>
                <p class="gutter-b">When you logout from EventProf Search, this session data is destroyed, and a new
                    session created each
                    time you login thereafter.</p>

                <h3 class="gutter-t"><strong>Access and deleting my data</strong></h3>
                <p class="gutter-b">As a user of this site, you can request the information stored in the database
                    pertaining to your
                    account, or request that your data be permanently deleted. To request this, simply <a
                        href="mailto:bradleyh.cooney@gmail.com">simply email us</a>.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}