{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<header class="header-title-section">
    <div class="header-bg"></div>
    <div class="container m-auto center-on-large">

        <h1>{% if data[0].name_slug == session['user']['slug'] %}
            My Profile
            {% else %}
            {{ data[0].first_name }}'s Profile
            {% endif %}
        </h1>
    </div>
</header>



<section class="main-body">
    <div class="container center-on-large">
        {% for info in data %}
        {% if info.user_type == 'employer' and info.name_slug == session['user']['slug']%}
        <div class="note">
            <p><em>Note: your profile is only visible to you, unless you switch to a freelancer account.</em></p>
        </div>
        {% endif %}
        <div class="row s12 d-flex">


            <div class="col s12">
                <div id="profile_content" class="d-flex s12 gutter-b">
                    <div class="profile-img-wrapper">
                        <img onload="resizeImage(this);" class="profile-image" src="{{ info.profile_image or url_for('static', filename='/images/user_uploads/default_avatar.png')}}" alt="{{ info.first_name }}">
                    </div>
                    <div class="profile-content-wrapper">
                        <div class="profile-head-info">
                            <!-- Name -->
                            <div class="row stacked-item">
                                <h3 class="title-feat">{{ info.first_name }} {{ info.last_name }}</h3>
                            </div>
                            <!-- Rate & Location -->
                            <div class="row d-flex stacked-item">
                                {% if info.user_type == 'freelancer' %}
                                <p class="gutter-r"><i class="fas fa-hand-holding-usd pr-5"></i> {{ info.rate }}</p>
                                {% endif %}
                                <p><i class="fas fa-map-marker-alt pr-5"></i> {{ info.location|capitalize }}</p>
                            </div>
                            <!-- Role -->
                            <div class="row d-flex stacked-item">
                                <p><i class="fas fa-user pr-5"></i> {{ info.role }}</p>
                            </div>
                            <!-- Skills -->
                            <div class="row inline-flex-gap stacked-item">
                                {% for skill in info.skills %}
                                <div class="chip">{{skill}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-about-wrapper d-flex s12">
                    <div class="row d-flex stacked-item">
                        <p class="p-break">{{ info.about }}</p>
                    </div>
                </div>
                <div class="row d-flex stacked-item gutter-t">
                    {% if info.name_slug != session['user']['slug']%}
                    <a href="#contact_modal" class="btn secondary-btn btn-slim modal-trigger">Send Email</a>
                    {% else %}
                    <a class="btn secondary-btn btn-slim modal-trigger"
                        href="{{ url_for('edit_profile', name=session['user']['slug'])}}">Edit Profile</a>
                    {% endif %}
                </div>
            </div>


            <!-- Nearby projects widget -->
            <div class="col s4 hide-992 gutter-l">
                {% if info.name_slug == session['user']['slug']%}
                {% include "widgets/my_profile_rec_widget.html" %}
                {% else %}
                {% include "widgets/similar_users_widget.html" %}
                {% endif %}
            </div>

            <!-- Contact Form Modal -->
            <div class="modal" id="contact_modal">
                <div class="modal-content">
                    <h3>Send {{info.first_name}} an email.</h3>
                    <p>Your message will be sent to their email inbox, allowing them to reply back to you directly.
                    </p>
                    <form id="contact_form" method="POST" action="{{ url_for('send_mail', slug=info.name_slug) }}">
                        <!-- Hidden sender fields  -->
                        <input type="hidden" name="from_name" id="from_name" value="{{ s_name }}">
                        <input type="hidden" name="to_name" id="to_name" value="{{info.first_name}}">
                        <div class="row pt-20">
                            <div class="input-field s12">
                                <input type="email" name="reply_to" id="reply_to" value="{{ s_email }}" required>
                                <label for="reply_to">Your Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field s12">
                                <textarea name="body" id="body" class="materialize-textarea validate" maxlength="850"
                                    data-length="850" required></textarea>
                                <label for="body">Your Message</label>
                            </div>
                        </div>
                        <div class="row">

                            <label>
                                <div class="input-field s12">
                                    <input type="checkbox" name="confirm_data" id="confirm_data_{{loop.index}}"
                                        class="validate" required>
                                    <span>By sending this message, I understand that my email address will be
                                        provided to
                                        {{info.first_name}} for them to send me a direct reply.</span>
                                </div>
                            </label>

                        </div>
                        <div class="row">
                            <div class="input-field s12 gutter-t center-align">
                                <button type="submit" class="btn secondary-btn btn-slim 
                                    btn-green-on-hover cta-btn">Send Email</button>
                                <button type="button" class="btn secondary-btn 
                                    btn-slim btn-line modal-close">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


        </div>
        {% endfor %}
    </div>





</section>

{% endblock %}