{% extends "base.html" %}
{% block title %}View Project{% endblock %}
{% block content %}



{% for project in data %}
<header class="header-title-section">
    <div class="header-bg"></div>
    <div class="container m-auto">
        <h1>{{ project.title }}</h1>
    </div>
</header>



<section class="main-body">
    <div class="container">
        <div class="row s12">
            <div class="profile-content-wrapper col s12">
                    <div class="stacked-item">
                        <p class="created-by">Posted by: {{ project.submitted_name}} on {{ project.posted_date.strftime('%b %d, %Y') }}</p>
                    </div>
                    <div class="row d-flex space-between stacked-item">
                        <div class="d-flex">
                            <p><i class="fas fa-user pr-5"></i> {{ project.role }}</p><span class="divide-pipe"> |
                            </span>
                            <p><i class="fas fa-map-marker-alt pr-5"></i> {{ project.location }}</p><span
                                class="divide-pipe"> | </span>
                            <p><i class="fas fa-calendar-alt pr-5"></i> {{ project.start_date}} - {{project.end_date }}</p>
                        </div>
                        <div class="col ml-auto">
                            {% if project.submitter_slug != session['user'] %}
                            <a href="#" class="btn primary-btn">Email Project Owner</a>
                            {% else %}
                            <a href="{{ url_for('edit_project', project_id=project.slug) }}" class="btn primary-btn gutter-l">Edit this Project</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col s8">
                    <!-- Skills -->
                    <div class="row d-flex stacked-item">
                        {% for skill in project.skills %}
                        <div class="chip">{{skill}}</div>
                        {% endfor %}
                    </div>




                    <div class="profile-about-wrapper">
                        <div class="row d-flex stacked-item">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    <div class="row d-flex stacked-item">
                        <a class="btn" type="button" href="{{ url_for('edit_profile', name=session['user'])}}">Edit
                            Profile</a>
                    </div>
                </div>
                <div class="col s4">
                    {% include "similar_widget.html" %}
                    {% block widget %}
                    {% endblock %}
                </div>
            
        </div>
        {% endfor %}
        <!-- Nearby projects widget -->
        <div class="col s4">

        </div>
    </div>


</section>

{% endblock %}